.edit_block {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.edit_inp {
	width: 40%;
	color: black;
	background-color: white;
	padding: 3px 3px 3px;
	margin-bottom: 5px;
	border: none;
	border-radius: 3px;
}

.edit_title {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	background-color: #aca190;
	margin: 0;
}
.edit_container {
	width: 100%;
	height: 100vh;
	background-color: #c5b8a4;
}
.btn_edit {
	width: 18%;
	height: 40px;
	font-size: 15px;
	background-color: white;
	border: #aca190 solid 1px;
	color: black;
	border-radius: 3px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Chakra Petch", sans-serif;
}
.btn_edit:hover {
	background: #aca190;
	color: white;
	border: black;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
