@media all and (max-width: 600px) {
	.present {
		display: block;
	}
	.present_img {
		width: 77%;
	}
	.header_price {
		margin-left: 0px;
	}
	.header_top {
		display: block;
	}
	.header_top_content {
		width: 55%;
	}
	.thumb {
		display: flex;
		width: 118%;
	}

	.collection {
		margin-top: 10px;
	}
}

@media all and (max-width: 500px) {
	.watch_img {
		width: 110px !important;
	}
	.collection_text {
		margin-bottom: 0px;
		font-size: 16px;
	}
	.present {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

@media all and (max-width: 400px) {
	.gold {
		font-size: 23px;
	}
	.header_top_content_title {
		letter-spacing: 0px;
	}
	.watch_img {
		width: 70px !important;
	}
	.orange {
		height: 5px;
		width: 24px;
	}
	.present_img {
		margin: 33px;
	}
	.header_top_content {
		align-items: center;
	}
	.image-block {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.collection_text {
		margin-bottom: 0px;
		font-size: 13px;
	}
	.present_content_info {
		font-size: 13px;
	}
	.present_content_btn {
		width: 42%;
		height: 28px;
		font-size: 11px;
	}
	.thumb {
		flex-direction: column;
		justify-content: center;
		margin-left: 60px;
	}
}

@media all and (max-width: 325px) {
	.thumb {
		flex-direction: column;
		justify-content: center;
		margin-left: 60px;
	}
	.header_top_content_title {
		font-size: 27px;
	}

	.header_top_content {
		margin-left: 76px;
	}
	.header_top_par1 {
		font-size: 10px;
	}
	.present_content_info {
		font-size: 13px;
	}
	.present_img {
		margin: 33px;
	}
	.image_block {
		margin-bottom: 10px;
	}
	.btn_header {
		width: 65%;
	}
}
