.homepage {
  width: 100%;
  background-color: #aca190;
}
.homepage_top {
  width: 100%;
  height: 90vh;
}
.homepage_top_content {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage_top_title {
  color: rgb(255, 255, 255);
  font-family: "Chakra Petch", sans-serif;
  font-size: 34px;
  text-transform: capitalize;
  z-index: 3;
  margin-bottom: 80px;
}
.header_top {
  display: flex;
  /* background: white; */
}

.header_top_content {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  width: 30%;
  position: relative;
}
.header_top_content_title {
  /* background-image: url(https://content.rolex.com/dam/homepage/cut-out/homepage-datejust-41-m126333-0010-cut-out.jpg);
  background-position: center 54.2606%; */
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: text;
  font-family: "Chakra Petch", sans-serif;
}
.header_top_content p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #4a453d;
}
.header_price {
  color: rgb(149 148 143);
  text-transform: uppercase;
  color: transparent;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: text;
  font-size: 25px;
  margin-left: 10px;
}
.btn_header {
  width: 40%;
  height: 40px;
  font-size: 15px;
  background-color: white;
  border: #aca190 solid 1px;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
}
.btn_header:hover {
  background: #aca190;
  color: white;
  border: black;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.collection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.collection_content {
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 64px 128px 0 128px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: white;
}
.gold {
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-size: 34px;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: text;
}
.collection_text {
  font-family: "Chakra Petch", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin-bottom: 70px;
  margin-top: 51px;
}

.pos_img__section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
}

.thumb li {
  display: inline-block;
  list-style: none;
  margin: 5px 30px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-20px);
}


.thumb li img {
  width: 100px;

}
.thumb li img {
width:40px;
}

.image_block {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  background: white;
}
.images {
  width: 27%;
  height: 10%;
  border-radius: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.images:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.present {
  width: 100%;
  /* margin: 50px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.present_img {
  width: 45%;
  margin: 60px;
  border-radius: 10px;
}
.present_content {
  width: 50%;
  margin: 30px;
}
.present_content_title {
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: text;
}
.present_content_info {
  color: rgb(0, 0, 0);
  font-size: 15px;

  font-family: "Chakra Petch", sans-serif;
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  box-shadow: none;
}
