.save_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: "Chakra Petch", sans-serif;
	font-weight: 600;
	background-color: #312e29;
}
.save_container__content {
	font-size: 44px;
	text-align: center;
	color: #fff;
	margin: 10px 0;
}
.items {
	display: flex;
	justify-content: center;
	background-color: #bbaf9b;
	/* color: #fff; */
	line-height: 35px;
	margin-bottom: 20px;
}

.like_block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.like-list {
	border-radius: 0 !important;
	margin: 0 3px;
}
.like_typo__content p {
	font-family: "Chakra Petch", sans-serif;
}
.like_typo__content h5 {
	font-family: "Chakra Petch", sans-serif;
}
.clean {
	width: 100%;
	height: 100px;
}

.btn_clean_like {
	width: 10%;
	height: 30%;

	background-color: #bbaf9b;
	border: #bbaf9b solid 1px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.btn_clean_like:hover {
	background-color: #bbaf9b;
	border: black solid 1px;
	font-size: 15px;
}

.btn_clean_block {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 128px;
	align-items: center;
}

@media all and (max-width: 320px) {
	.btn_clean_like {
		width: 30%;
	}
}
