.navbar {
  border-bottom: 1px solid #000;
}
.logo_design {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_design a {
  font-weight: 900;
  /* font-size: 24px; */
  letter-spacing: 0.3rem;
  color: #625c52;
  text-decoration: none;
  cursor: pointer;
  font-family: "Times Roman";
}
.logo_design span {
  margin-right: 15px;
  color: #aca190;
  font-size: 12px;
}

.navbar_acc-like-cart svg {
  color: #625c52;
}

.logo_design__adaptive a {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3rem;
  color: #625c52;
  text-decoration: none;
  cursor: pointer;
  font-family: "Times Roman";
}
.logo_design__adaptive span {
  margin-right: 15px;
  color: #aca190;
  font-size: 12px;
}

/* adaptive  */
@media only screen and (max-width: 1300px) {
  .logo_design a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .navbar_acc-like-cart {
    display: flex;
    align-items: center;
  }
  
  .logo_design {
    margin-right: auto;
  }
  
  .logo_design__adaptive {
    display: none;
  }
  
  .logo_design a {
    font-size: 24px;
  }
  
  .logo_design span {
    display: none;
  }
  
  .navbar_acc-like-cart svg {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    padding: 15px;
  }
  
  .navbar_acc-like-cart svg {
    font-size: 18px;
  }
  
  .logo_design a {
    font-size: 20px;
  }
}

