/* .navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
} */

.appbar:hover {
	background: white !important;
	position: "relative";
}

