.productsPage {
  display: flex;
  flex-direction: column;
}
.productList_header {
  background-image: url(https://www.audemarspiguet.com/content/dam/ap/com/savoir-faire/header-4000x2000-savoir-faire.jpg.transform.aphero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  will-change: opacity;
  /* opacity: 0.55; */
  /* top: 0; */
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  /* position: absolute; */
  height: 400px;
}
.productList_header h2 {
  margin-top: 12%;
font-size: 64px;
  text-align: center;
  color: #fff;
}
.product_list {
  /* margin-top: 30%; */
  margin-top: 5%;
  display: flex;
}
